@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
background: url('./assets/forza-motorsport-7-7680x4320-13982.jpg') no-repeat center center fixed;
background-size: cover;
height: 100vh;
background-color: black;

}